.intro-movie {
    display: flex;
    width: auto;
    justify-content: space-between;
    text-align: left;
}

.intro-movie-title  {
    font-size: 5rem;
    margin-bottom: 1.4rem;
}

.intro-movie-description > p {
    color: #FFFFFF;
    margin-bottom: 1.4rem;
}
