.intro-movie {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    text-align: left;
}

.intro-movie-title  {
    font-size: 5rem;
    margin-bottom: 1.4rem;
}

.intro-movie-description > p {
    color: #FFFFFF;
    margin-bottom: 1.4rem;
}

.intro-movie-image img {
    padding-top: 2rem;
    width: 100%;
}

@media (min-width: 1080px) {
    .intro-movie {
    flex-direction: row;
    }
}