.homepage-wrapper {
    display: flex;
    flex-direction: column;

}
.container {
    max-width: 115rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1.8rem;
}

.home {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@media(min-width: 1080px) {

    .homepage-wrapper {
        display: flex;
        flex-direction: row;
        margin: 2rem;
    }
    .container {
        max-width: 115rem;
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
        gap: 2rem;
        margin: 0 2rem;
    }

    .home {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

    }
}