.login {
    align-self: flex-start;;
    width: 100%;
}
.search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
}

.search-bar--input {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-bar p {
    color: #505663;

}
.search-bar-avatar {
    display: none;
    cursor: pointer;
}

@media (min-width: 1080px) {
    .search-bar-avatar {
        display: block;
    }
}