
label, input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    font-size: 1.6rem;
}

input[type="text"], input[type="email"], input[type="password"] {
    background-color: inherit;
    margin: 1rem 0;
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: .2rem solid white;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: none;
    color: #ffffff;
    border-bottom: .2rem solid red;
    outline: none;
    appearance: none;
    transition: ease-in;
    caret-color: red;
}


.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 1rem;
    color: #ffffff;
    font-size: 1.4rem;
    width: 100%;
    border-radius: .1rem;
    background: none;
    opacity: 0.75px;
    border: 4px solid;
    border-image-slice: 1;
}

.btn-gradient {
    border-image-source: linear-gradient(to left, #E2F2F6, #95A1F1);

}

.btn-gradient:hover {
    background: #1a1a1a;
    border-image-source: linear-gradient(to left, #3F91A2, #002E41);
}